.eruda-monitor {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.eruda-monitor * {
  box-sizing: border-box;
}

.eruda-monitor-memory,
.eruda-monitor-dom-nodes {
  margin-top: 10px;
}
